<?php
define('ENV', "DEV");
define('APPKEY', 'ad021d369ce049470fadc8783b0cdd24d9537c07d8ae9b6fde1c8b29813ca2a8');
$host = ($_SERVER['SERVER_ADDR'] == '::1') ? '127.0.0.1' :  $_SERVER['SERVER_ADDR'];
define('WEB_HOST', $host);
define('PROTOCOL', $_SERVER['REQUEST_SCHEME']);
define('DIR', 'oap');

$DB_SETTINGS = [
  'host' =>  'localhost',
  'database_name' => 'db_oap',
  'user' => 'root',
  'password' => ''
];


?>